<div id="login-status" data-logged-in="<%= isUserLoggedIn %>"></div>
<h2 class="welcome">Deis Events</h2>
<h3 class="proud">Take a look at our recent events!</h3>
<div class="table-wrapper">

    <table >
        <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>RegistrationLink</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <% events.forEach(event => { %>
        <tr>
            <td><a href="<%= `/events/${event._id}`%>"><%= event.title %></a></td>
            <td><%= event.location %></td>
            <td><%= event.registrationLink %></td>
            <td>
            <a href="<%=`/events/${event._id}/edit` %>"class="button"> Edit </a>
            &nbsp;
            <a href="<%= `events/${event._id}/delete?_method=DELETE` %>"
                onclick="return confirm('If the record has been deleted, it cannot be recovered')" class="button">Delete</a>
            &nbsp;
            
            <a class="attend-btn" data-event-id="<%= event._id %>" id="button"">Join Event</a>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>

    </div>

    <div class="button-wrapper">
    <a href="events/new" class="btn btn-primary">Post events</a>
    </div>


<script>
    const isUserLoggedIn = document.getElementById('login-status').dataset.loggedIn === 'true';
    document.addEventListener('DOMContentLoaded', () => {
        const attendButtons = document.querySelectorAll('.attend-btn');
        attendButtons.forEach(button => {
        button.addEventListener('click', () => {
            if (!isUserLoggedIn) {
                alert('Please log in to join the event.');
                location.href = '/users/login';
                return;
              }
            const eventId = button.dataset.eventId;
            const userName = prompt('Please enter your name:');
            
            if (!userName) {
            alert('Please enter your name to join the event.');
            return;
            }

            fetch(`/events/${eventId}/attend`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userName: userName })
            }).then(response => {
            if (response.ok) {
                alert('You have successfully joined the event!');
                location.reload();
            } else if (response.status === 404) {
                alert('Your account does not exist, please create a new account!');
                location.href = '/users/new';
            } else {
                alert('An error occurred while joining the event. Please try again.');
            }
            });
        });
        });
    });
</script>
<script src="/client.js"></script>
