<div class="main-content">
    <article>
      <p class="title">Current Jobs</p>
      <p>As a member of the SAA team, you will have the opportunity to make a difference in the lives of Brandeis students and alumni, work with a talented and dedicated group of individuals, and gain valuable skills and experience.</p>
      <p>We are always looking for motivated and enthusiastic individuals to join our team. If you are interested in working with us, please check back regularly for current job openings or contact us directly to learn more about potential opportunities.</p>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% jobs.forEach(job => { %>
          <tr>
            <td><a href="<%= `/jobs/${job._id}`%>"><%= job.title %></a></td>
            <td><%= job.company %></td>
            <td><%= job.location %></td>

            <td>
              <a href="<%=`/jobs/${job._id}/edit` %>"> Edit </a>
              &nbsp;
              <a href="<%= `jobs/${job._id}/delete?_method=DELETE` %>"
                onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <br>
      <a href="jobs/new" class="btn btn-secondary">Post Job</a>
    </article>
    
    <!-- <a href="jobs/new">Post job</a> -->

</div>

<div class="side">
    <img src="https://www.studyinternational.com/wp-content/uploads/2019/01/on-campus-jobs.jpg" 
    width='130%' height='auto' alt="bran alum">
</div>

