<div class="data-form">
  <br>
  
  <form action="<%=`/users/${user._id}/update?_method=PUT`%>" method="POST">
    <!-- <input type="hidden" name="_method" value="PUT" /> -->
    <p class="center-title">Edit user - <%= user.name %></p>
    <div>
      <label for="name">Name:<br></label>
      <input type="text" name="name" id="name" value="<%= user.name %>" required>
    </div>
    <div>
      <label for="email">Email:<br></label>
      <input type="email" name="email" id="email" value="<%= user.email %>" required>
    </div>
    <div>
      <label for="password">Password:<br></label>
      <input type="password" name="password" id="password" value="<%= user.password %>" required>
    </div>
    <div>
      <label for="role">Role:<br></label>
      <select name="role" id="role">
        <option value="student" selected>Student</option>
        <option value="alumni">Alumni</option>
      </select>
    </div>
    <div>
      <label for="graduationYear">Graduation Year:<br></label>
      <input type="number" name="graduationYear" id="graduationYear"  value="<%= user.graduationYear %>" required>
    </div>
    <div>
      <label for="major">Major:<br></label>
      <input type="text" name="major" id="major" value="<%= user.major %>" required>
    </div>
    <div>
      <label for="job">Job:<br></label>
      <input type="text" name="job" value="<%= user.job %>" id="job">
    </div>
    <div>
      <label for="company">Company:<br></label>
      <input type="text" name="company" value="<%= user.company %>" id="company">
    </div>
    <div>
      <label for="city">City:<br></label>
      <input type="text" name="city" value="<%= user.city %>" id="city">
    </div>
    <div>
      <label for="state">State:<br></label>
      <input type="text" name="state" value="<%= user.state %>" id="state">
    </div>
    <div>
      <label for="country">Country:<br></label>
      <input type="text" name="country"  value="<%= user.country %>" id="country">
    </div>
    <div>
      <label for="zipCode">Zip Code:<br></label>
      <input type="number" name="zipCode"  value="<%= user.zipCode %>" id="zipCode" min="10000" max="99999" required>
    </div>
    <div>
      <label for="bio">Bio:<br></label>
      <input type='text' name="bio" id="bio" rows="4" cols="50" value="<%= user.bio %>"></input>
    </div>
    <div>
      <label for="interests">Interests:<br></label>
      <input type="text" name="interests" id="interests" value="<%= user.interests %>">
    </div>

    <div></div>
    <div class="button-wrapper">
      <button type="submit">Save Changes</button>
    </div>
  </form>


</div>


