<div class="main-content">
    <article>
        <p class="title">Current members of Brandeis SAA</p>
        <!-- <p class="subtitle">Student & Alumni of Brandeis University</p>
        <p class="content">
          The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other. 
        </p> -->
    </article>


    <article>
        <table class="table">
        <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Graduation Year</th>
            <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
              <tr>
              <td><a href="<%= `/users/${user._id}`%>"><%= user.name %> </a></td>
              <td><%= user.email %></td>
              <td><%= user.graduationYear %></td>
              <td><%= user.zipCode %></td>
              </tr>
            <% }); %>
        </tbody>
        </table>
    </article>


    
</div>
<div class="side">
    <img src="https://alumni.brandeis.edu/giving/recognition/images/students-toss-caps-960.jpg" 
    width='130%' height='auto' alt="bran alum">
</div>


